# ASSIGNMENT:-1

## 1.Given list=[1,[2,3],[4,[5,6]]], extract the number 6 using indexing only.

In [1]:
list=[1,[2,3],[4,[5,6]]]

In [2]:
list[2][1][1]

6

## 2.list1=[10,20,30]--Convert this list into a string:"10-20-30" using only string/list methods.

In [3]:
list1=[10,20,30]

In [17]:
temp_list=[]

In [18]:
for item in list1:
    temp_list.append(str(item))

In [19]:
result="-".join(temp_list)

In [31]:
print('"{}"'.format(result))

"10-20-30"

## 3.list2=[5,10,15,20]--Remove the second element and return the resulting list in reverse order.

In [32]:
list2=[5,10,15,20]
list2.pop(1)

10

In [33]:
list2

[5, 15, 20]

In [34]:
print(list2[::-1])

[20, 15, 5]

## 4. list3=[3,1,3,1,4,9]-- Sort the list in descending order without modifying the original.

In [46]:
list3=[3,1,3,1,4,9]
temp_list=list3
temp_list.sort(reverse=True)
print(temp_list)

[9, 4, 3, 3, 1, 1]

## 5.Given t=(1,2,[3,4]), modify the list inside the tuple to [7,8]. (Expain why this works despite tuples being immutable.)

In [52]:
t=(1,2,[3,4])
t[2][0]=7
t[2][1]=8
print(t)

(1, 2, [7, 8])

### This works because we changed the elements of the list inside the tuple whereas if try change the value of the tuple it wil not work, as shown below.

In [50]:
t[2]=[7,8]

TypeError: 'tuple' object does not support item assignment

## 6. Convert the tuple t=(1,2,3,4,5) into a dictionary where key=index, value=item.

In [59]:
t=(1,2,3,4,5)
d=dict()
for i in range(len(t)):
    d[i]=t[i]
print(d)

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}

## 7.Use unpacking to extract the first,second and the from: t=(10,20,30,40)

In [61]:
t=(10,20,30,40)
for i in range(len(t)):
    x=t[i]
    print(x)

10
20
30
40

## 8.Given nested tup=(1,(2,(3,(4,)))), extract 4 using multiple levels of indexing.

In [65]:
tup=(1,(2,(3,(4,))))
print(tup[1][1][1][0])

4

## 9.From tup=((1,2),(3,4),(5,6)), flatter it into a single tuple:(1,2,3,4,5,6).

In [86]:
tup=((1,2),(3,4),(5,6))
x1,x2,x3=tup
result=x1+x2+x3
print(result)

(1, 2, 3, 4, 5, 6)

## 10.Given s="abracadabra", remove all occurrences of the character 'a' without using loops.

In [90]:
s="abracadabra"
print(s.replace("a",""))

brcdbr

## 11.Reverse the words in the string "The quick brown fox" using only string methods.

In [96]:
s="The quick brown fox"
result=" ".join(s.split()[::-1])
print(result)

fox brown quick The

## 12. convert "Python Is FUN" into "python is fun" using a single line of chained string methods.

In [98]:
s="Python Is FUN"
s=s.lower()
print(s)

python is fun

## 13. Count how many vowels are in "Intelligence" using only count method (no loop).

In [102]:
s="Intelligence"
s2=s.lower()
count=s2.count('a')+s2.count('e')+s2.count('i')+s2.count('o')+s2.count('u')
print("The vowels count is",count)

The vowels count is 5

## 14. Given s="level", check if its a palindrome without using reversed() or loops.

In [103]:
s="level"
if s==s[::-1]:
    print(s,"is a palindrome")
else:
    print(s,"is not a palindrome")

level is a palindrome

## 15. Given d={'a':1,'b':2,'c':3}, swap keys and values using only dictionary methods.

In [105]:
d={'a':1,'b':2,'c':3}
result={}
for key,value in d.items():
    result.setdefault(value,[]).append(key)
print(result)

{1: ['a'], 2: ['b'], 3: ['c']}

## 16. Merge these two dicts into one: d1={'x':1,'y':2} , d2={'y':3,'z':4}-- ensuring overlapping keys take value from d2.

In [106]:
d1={'x':1,'y':2}
d2={'y':3,'z':4}
result=d1.copy()
result.update(d2)
print(result)

{'x': 1, 'y': 3, 'z': 4}

## 17.From d={'x':[1,2],'y':[3,4]}, change all list values to their sum.

In [108]:
d={'x':[1,2],'y':[3,4]}
for key in d:
    d[key]=sum(d[key])
print(d)

{'x': 3, 'y': 7}

## 18.From d={'x':10,'y':20,'z':30},remove the key with the highest value.

In [112]:
d={'x':10,'y':20,'z':30}
key=max(d)
d.pop(key)
print(d)

{'x': 10, 'y': 20}

## 19. given list=['a=1','b=2','c=3'], convert it into a dictionary.

In [114]:
list=['a=1','b=2','c=3']
d={}
for item in list:
    key,value=item.split('=')
    d[key]=int(value)
print(d)

{'a': 1, 'b': 2, 'c': 3}

## 20. Convert the dictionary {'a':[1,2],'b':[3,4]} into a list of tuples like: [('a',1),('a',2),('b',3),('b',4)].

In [115]:
d={'a':[1,2],'b':[3,4]}
result=[]
for key in d:
    for val in d[key]:
        result.append((key,val))
print(result)

[('a', 1), ('a', 2), ('b', 3), ('b', 4)]