In [1]:
class SiliconClass():
    college='Silicon University'
    def __init__(self,name123,number):
        self.studentname=name123
        self.sic=number
    def display(self):
        print("Myself {} with {} from {}".format(self.studentname,self.sic,self.college))

## INHERITANCE

In [2]:
class StudentClass(SiliconClass):
    pass

In [3]:
a=StudentClass()

TypeError: SiliconClass.__init__() missing 2 required positional arguments: 'name123' and 'number'

In [4]:
a=StudentClass('Ram',223)

In [5]:
a.display()

Myself Ram with 223 from Silicon University

In [6]:
a.studentname

'Ram'

In [18]:
class EmployeeClass(SiliconClass):  ## METHOD OVERIDDEN
    def __init__(self,yr):
        self.year=yr

In [12]:
b=EmployeeClass(2000)

In [13]:
b.college

'Silicon University'

In [14]:
b.year

2000

In [17]:
b.display()

AttributeError: 'EmployeeClass' object has no attribute 'studentname'

### Objective is to use init() of the parent class

### 1)Using self and init()

In [26]:
# PARENT CLASS
class SiliconClass():
    college='Silicon University'
    def __init__(self,name123,number):
        self.studentname=name123
        self.sic=number
    def display(self):
        print("Myself {} with {} from {}".format(self.studentname,self.sic,self.college))

In [35]:
# CHILD CLASS
class EmployeeClass(SiliconClass):  ## METHOD OVERIDDEN
    def __init__(self,name123,number,yr):
        SiliconClass.__init__(self,name123,number)
        self.year=yr

In [36]:
a=EmployeeClass("Ram",224,2025)

In [37]:
a.college

'Silicon University'

In [39]:
a.display()

Myself Ram with 224 from Silicon University

In [40]:
a.sic

224

In [41]:
a.studentname

'Ram'

### 2) Using super()

In [42]:
# CHILD CLASS
class EmployeeClass(SiliconClass):  ## METHOD OVERIDDEN
    def __init__(self,name123,number,yr):
        super().__init__(name123,number)
        self.year=yr

In [43]:
b=EmployeeClass("Shyam",225,2025)

In [44]:
b.college

'Silicon University'

In [45]:
b.display()

Myself Shyam with 225 from Silicon University